* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f4f6f9;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  background: linear-gradient(180deg, #1e3c72, #2a5298);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP */
.sidebar-top {
  text-align: center;
  padding: 30px 20px;
}

.logo {
  width: 55px;
  height: 55px;
  background-color: #fff;
  color: #2a5298;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto 10px;
}

.sidebar-top h1 {
  font-size: 18px;
}

/* MENU */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-item {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: background 0.3s;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* BOTTOM */
.sidebar-bottom {
  padding: 20px;
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* MAIN CONTENT */
.main-content {
  margin-left: 260px;
  width: calc(100% - 260px);
  padding: 30px;
}

/* DASHBOARD */
.dashboard-top h2 {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  text-align: center;
  font-size: 15px;
}

.card strong {
  display: block;
  font-size: 26px;
  color: #2a5298;
}

/* CRUD SECTION */
.crud-section {
  margin-top: 40px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.sidebar-top img{
    height: 150px;
    width: 200px;
}

canvas {
  max-height: 320px;
}